* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("4.jpg");
  background-size: cover;
  text-align: center;

}


.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vh;
  width: 18vh;
  background-color: violet;
  border-radius: 1rem;
  border: none;
  font-size: 9vmin;
  color: black;
}

#reset-button {
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(128, 128, 128, 0.358);
  color: rgba(0, 0, 139, 0.636);
  border-radius: 1rem;
  border: none;
}

#new-button {
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(128, 128, 128, 0.358);
  color: rgba(0, 0, 139, 0.636);
  border-radius: 1rem;
  border: none;
}

#msg {
  background-color: rgba(128, 128, 128, 0.358);
  color: rgba(0, 0, 139, 0.636);
  font-size: 8vmin;
}

.msgcontainer {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}